/*@import '~/antd/dist/antd.css';*/
.cont {
    margin-left: 12%;
    margin-right: 12%;
}

.title {
    font-size: 70px;
    border: 1px solid black;
    text-align: center;
    background-color: lightgray;
}

button {
    position: relative;
    width: 33.13%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color:rgb(100, 181, 201);
    color: white;
    font-size: larger;
    border: none;
    margin: 0.1%;
}

.gb{
    display: grid;
    grid-template-areas: 'i b c';
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 300px;
    width: 100%;
    
}

.items{
    grid-area: i;
    width: 300px;
}

.block{
    grid-area: b;
    border: 1px solid black;
    text-align: center;
    text-justify: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 90%;
    height: 200px;
    margin: 2px;
}

.code{
    grid-area: c;
    border: 1px solid rgb(100, 181, 201);
    border-radius: 20px;
    position: relative;
    width: 250px;
    height: 150px;
    padding: 30px;
        margin: 2px;

}

